{
  "env": {
    "modules": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "presets": [
    "flow",
    [ "env", {
      "modules": false,
      "useBuiltIns": true,
      "loose": true,
      "exclude": [ "transform-regenerator" ]
    } ]
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-class-properties",
    [ "transform-object-rest-spread", { "useBuiltIns": true } ]
  ]
}
